

      .add-first {

            display: none;
      }

      .add-second {
            display: none;

      }

      .nav-address {

            display: none;

      }

      .add-icon {

            /* ek hi div ke andr hai isly flex ho skta hai */

            display: none;
            align-items: center;

      }

                                                                /* box3 */
    
            .nav-search {
      
                  display: flex;
                  justify-content: space-around;
                  background-color: pink;
                  width: 800px;
                  height: 40px;
                  border-radius: 9px;
      
            }

    span {
          font-size: 0.7rem;
          display: none;

    }

    .nav-second {
          display: none;
          font-size: 0.85rem;
          font-weight: 700;


    }

    .nav-return {

          font-size: 0.85rem;
          padding: 0px;

    }
    .search-input{
      border-radius: 4px;
    }
    .search-select{
      display: none;
    }

    .nav-singin {
          padding: 7px;
    }

                                                           /* box */
.nav-cart i {
          font-size: 30px;

    }

    .nav-cart {

          font-size: 0.85rem;
          font-weight: 700;
          padding: 7px;

    }

                                                          /* Panels */

 .panels{
      justify-content:start;
      width: auto;
      overflow: hidden;
 }
    .panel-ops {
         /* display: none; */
         /* visibility: hidden; */
         font-size: 0.8rem;
         width: 100%;
    }
    .panel-ops p{
      padding: 10px 0px;
      margin:0 ;
      overflow: hidden;
      flex-wrap: nowrap;
    }
    .panel-ops p:nth-child(5){
      display: none;
      
    }
    .panel-all{
      font-size: 0.9rem;
      display: inline-flex;
      margin-right: 7px;
    }
    .ul{
      flex-wrap: wrap;
    }
    

    .panel-deals {
          font-weight: 700;
          display: none;
    }
    .hero-section {
          display: flex;
          background-image: url('/image/hero_image.jpg');
          height: 150px;
          background-size: cover ;
          background-repeat: no-repeat;
          width: 100%;
          
          
    }
    .hero-msg {
         
      display: none;
    }

    .shop-section {

          
          display: flex;
          flex-wrap: wrap ;
          
}
.box {
          
          height: 200px;
          width: 50%;
          background-color: white;
          padding: 20px 0px 15px;
          margin-top: 10px;

    }
    .box-img {
          height: 100px;
          background-size: cover;
          
          background-repeat: no-repeat;
          margin-top: 1rem;
          margin-bottom: 1rem;
    }

    .box-content {
          margin-left: 1rem;
          margin-right: 1rem;
    }
    h2{
      font-size: 0.8rem;
    }
    .box-content p {
          font-size: 0.7rem;
    }
    
    
    .foot-panel2{
      height: 355px;
      font-size: 0.8rem;
      padding: 0 9px;
    }
    .add-icon {

          /* ek hi div ke andr hai isly flex ho skta hai */

          display: none;
          align-items: center;

    }
